:root {
    ---color-secondary: #feb900;
}
*{
    font-family: "Roboto",  sans-serif;
}
/* header */
.titik {
    color: var(---color-secondary);
}

/* section{
    padding: 100px 0;
}

#home{
    padding: 0;
} */

header{
    width: 100%;
    z-index: 2   ;
    background: transparent;
}

.header-padding {
    padding: 25px 150px;
}

.nav-link{
    font-size: 14px;
    color: rgb(206, 201, 201);
    /* filter: brightness(0.8); */
    font-weight: 400;
}

.nav-item::after{
    content: "";
    background-color: var(---color-secondary);
    width: 0%;
    display: block;
    height: 2px;
    transition: .5s;
}

.nav-item :hover{
    color: white;
}

.nav-item:hover::after{
    width: 100%;
}

.img-slide{
    filter: brightness(0.3);
}

.judul{
    font-size: 56px;
    font-weight: 700;
}
.judul::after{
    content: "";
    background-color: var(---color-secondary);
    width: 15%;
    height: 4px;
    margin: auto;
    display: block;
}

/* .btn{
    border-radius: 50px;
    border-color: #feb900;
    border-width: 2px;
    padding: 12px 40px;
    color: white;
}

.btn :hover{
    color: white;
} */

.btn-start{
    color: white;
    text-decoration: none;
    transition: .5s;
    text-transform: uppercase;
    padding: 12px 40px;
    border-radius: 50px;
    border: 2px solid var(---color-secondary);
}

.btn-start:hover{
    background: var(---color-secondary);
    color: white;
}

#form-title-kanan::after {
    content: "";
    background-color: var(---color-secondary);
    width: 15%;
    height: 4px;
    display: block;
    margin-top: 12px;
}
 
#btn-submit {
    background: var(---color-secondary);
    border: 0;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px
}

.text-construction::before {
    content: "";
    display: inline-block;
    width: 80px;
    height: 4px;
    background-color: var(---color-secondary);
    position: relative;
    bottom: 10px;
    right: 10px;
}

.text-construction::after {
    content: "";
    display: inline-block;
    width: 80px;
    height: 4px;
    background-color: var(---color-secondary);
    position: relative;
    bottom: 10px;
    left: 10px;
}

.title-construction-servis::before {
    content: "";
    display: inline-block;
    width: 80px;
    height: 4px;
    background-color: var(---color-secondary);
    position: relative;
    bottom: 10px;
    right: 10px;
}

.title-construction-servis::after {
    content: "";
    display: inline-block;
    width: 80px;
    height: 4px;
    background-color: var(---color-secondary);
    position: relative;
    bottom: 10px;
    left: 10px;
}


.card-box {
    display: flex;
    border: 1px solid #dcdcdc;
    width: 500px;
}

.card-box img{
    width: 150px;
    height: auto;
    object-fit: cover;
}

.text-card {
    padding: 40px;
}

/* Section Service */
.card-service {
    width: 400px;
    height: 400px;
    text-decoration: none;
    color: #364d59;
}

.icon-card::before {
    content: "";
    display: inline-block;
    width: 55px;
    height: 55px;
    background-color: #364d5932;
    border-radius: 100%;
    position: absolute;
    margin-left: 15px;
    margin-top: -5px;
    transition: .3s;
}

.title-service {
    width: fit-content;
}

.title-service::after {
    content: "";
    background-color: #364d5932;
    display: block;
    width: 100%;
    height: 5px;
    border-radius: 10px;
    margin-top: 20px;
    transition: .3s;
}

.icon-card i {
    font-size: 45px;
    font-weight: 600;
    color: #364d59;
    position: relative;
    z-index: 1;

}

.text-learn {
    color: yellow;
    font-size: 14px;
}

.card-service:hover .icon-card::before {
    background-color: rgb(255, 183, 0) !important;
}

.card-service:hover .title-service::after {
    background-color: rgb(255, 183, 0) !important;
}

.card-service:hover {
    color: #364d59;
}

/* Section Service Tab */

.btn {
    border: none;
    border-radius: 0 !important;
}

.btn-link {
    color: var(--color-text) !important;
    font-weight: 600 !important;
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 18px !important;
    transition: .3s;
}

.btn-link:hover {
    color: #feb900 !important;
}

.nav-item .btn-link.active {
    border-bottom: 3px solid var(--color-secondary);
}

.title-tab::after {
    content: "";
    background-color: var(---color-secondary);
    width: 80px;
    height: 3px;
    display: block;
    margin-top: 12px;
}

.desc-feature {
    font-size: 19px;
    color: var(--color-greey);
    font-style: italic;
}

.list-feature {
    list-style: none;
    color: var(--color-greey);
    font-size: 18px;
}

.list-feature li {
    margin-bottom: 20px;
}